<script setup="" lang="ts">
import { computed, onMounted, reactive, ref } from 'vue'
import { Bar, Line } from 'vue-chartjs'


// store
import { useOrdersStore } from '@/stores/orders';
import { storeToRefs } from "pinia";

const orderStore = useOrdersStore()
const { labels, getData } = storeToRefs(orderStore)

orderStore.SendGetOrderCharts()

const chartData = reactive({
	labels: labels,
	datasets: [
		{
			barPercentage: 0.5,
			barThickness: 90,
			maxBarThickness: 100,
			minBarLength: 2,
			data: getData.value,
			label: 'Orders',
			backgroundColor: [
				'rgba(255,99,132,0.31)',
				'rgba(255,159,64,0.25)',
				'rgba(255, 205, 86, 0.2)',
				'rgba(75,192,192,0.28)',
				'rgba(54,162,235,0.3)',
				'rgba(176,148,237,0.34)',
				'rgba(201,203,207,0.29)'
			],
			borderColor: [
				'rgb(255, 99, 132)',
				'rgb(255, 159, 64)',
				'rgb(255, 205, 86)',
				'rgb(75, 192, 192)',
				'rgb(54, 162, 235)',
				'rgb(153, 102, 255)',
				'rgb(201, 203, 207)'
			],
			borderWidth: 1
		}
	]
})
const chartOptions = reactive({
	responsive: true
})


</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col>
				<Bar
							id="my-chart-id"
							:options="chartOptions"
							:data="chartData"
				/>
			</v-col>
		</v-row>
	</v-container>

</template>


<style lang="scss" scoped>

</style>
