<script setup="" lang="ts">
// core
import { ref, reactive, computed } from 'vue'
// router
import {useRouter} from 'vue-router';
const router = useRouter()
// types
import type { LoginUserType } from '@/types'
// vuelidate
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, sameAs } from '@vuelidate/validators'

// toast
import { Error, Success} from '@/notification/notifications'

// user store
import { useUserStore } from '@/stores/user';

const { SendLogin } = useUserStore()

// form
const submitLoading = ref<boolean>(false)
const submitLoadingEnd: Function = (): void => {
	setTimeout(() => {
		submitLoading.value = false
	}, 1000)
}
const LoginState = reactive({
	email: '',
	password: '',
})
const RegRules = computed(() => {
	return {
		email: { required, email },
		password: { required, minLength: minLength(5) },
	}
})
const submitBtn = computed(() => LoginState.email === '' || LoginState.password === '')
const v$ = useVuelidate(RegRules, LoginState)

const submitLogin = async () => {
	const valid = await v$.value.$validate();
	submitLoading.value = true
	if (!valid) {
		Error('Incorrect data', 'error')
		submitLoadingEnd()
		return;
	}
	const user: LoginUserType = {
		email: LoginState.email.trim().toLowerCase(),
		password: LoginState.password.trim(),
	}

	// sent to backend
	const res = await SendLogin(user);
	console.log(res);
	// check res
	if ('token' in res) {
		await Success('You are logged in', 'success', 'fas fa-check')
		await router.push({name:'Wrapper'})
		greeting()
	}else if ('msg' in res) {
		Error(res.msg, 'error')
	}

	// clear form
	LoginState.email = '';
	LoginState.password = ''
	submitLoadingEnd()
}
// speak greeting
const greeting = async ()=> {
	const sp = await new SpeechSynthesisUtterance('Welcome to the system');
	sp.voice =	 await speechSynthesis.getVoices()[3]
	await speechSynthesis.speak(sp)
}
</script>


<template>
	<v-app theme="myCustomTheme">
		<v-container>
			<v-row>
				<v-col class="d-flex justify-center align-center">
					<v-card width="600" flat class="px-10 py-10" elevation="2">
						<v-card-title class="mb-5">Login</v-card-title>
						<form @submit.prevent="submitLogin">
							<v-text-field label="Email" variant="solo" clearable v-model="LoginState.email"/>
							<v-text-field type="password" label="Password" variant="solo" clearable v-model="LoginState.password"/>
							<v-btn color="#dd8662" :loading="submitLoading" :disabled="submitBtn" type="submit">Submit</v-btn>
						</form>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</v-app>
</template>


<style lang="scss" scoped>

</style>
