<script setup="" lang="ts">
// core
import { computed, watch, onMounted, reactive, ref } from 'vue'
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, sameAs } from '@vuelidate/validators'
import { useRouter } from 'vue-router';
import { storeToRefs } from "pinia";

// router
const router = useRouter()
// stores
import { useProfileStore } from '@/stores/profile';

const profileStore = useProfileStore()
const {} = storeToRefs(profileStore)

import { useUserStore } from '@/stores/user';

const userStore = useUserStore()
const { getCurrentUser } = storeToRefs(userStore)
import type { ProfileInfoType, ProfilePasswordType } from "@/types/profile";
import { Error, Info } from "@/notification/notifications";


// password info
const changePasswordState = reactive<ProfilePasswordType>({
	password: '',
	confirm_password: ''
})
const rulesPasswordState = computed(() => {
	return {
		password: { required, minLength: minLength(5) },
		confirm_password: { required, sameAs: sameAs(changePasswordState.password) }
	}
})
const v$$ = useVuelidate(rulesPasswordState, changePasswordState)
const formPasswordSubmit = async (): Promise<void> => {
	const valid = await v$$.value.$validate();
	if (!valid) {
		await Error('Incorrect data', 'error')
		return
	}
	const pass: ProfilePasswordType = {
		password: changePasswordState.password,
		confirm_password: changePasswordState.confirm_password
	}

	await profileStore.SendChangeProfilePassword(pass)

	await Info('User password was updated', 'info', 'fas fa-user-plus')
	await clearForm()
	// await router.push({ 'name': 'Users' })
};

// profile info
const changeUserState = reactive<ProfileInfoType>({
	id: 0,
	first_name: '',
	last_name: '',
	email: '',
})
const rulesChangeUserState = computed(() => {
	return {
		first_name: { required, minLength: minLength(3) },
		last_name: { required, minLength: minLength(3) },
		email: { required, email },
	}
})
// check on validate form
const v$ = useVuelidate(rulesChangeUserState, changeUserState)
const disBtn = computed(() => changeUserState.first_name === '' || changeUserState.last_name === '' || changeUserState.email === '')
const formProfileSubmit = async (): Promise<void> => {
	const valid = await v$.value.$validate();
	if (!valid) {
		await Error('Incorrect data', 'error')
		return
	}
	const user: ProfileInfoType = {
		id: changeUserState.id,
		first_name: changeUserState.first_name.trim().toLowerCase(),
		last_name: changeUserState.last_name.trim().toLowerCase(),
		email: changeUserState.email.trim().toLowerCase(),
	}

	await profileStore.SendChangeProfileInfo(user)

	await Info('User info was updated', 'info', 'fas fa-user-plus')
	await clearForm()
	// await router.push({ 'name': 'Users' })
};

function clearForm() {
	changeUserState.first_name = ''
	changeUserState.last_name = ''
	changeUserState.email = ''
}

onMounted(async () => {
	await userStore.SendGetUser()
	changeUserState.id = getCurrentUser.value.id
	changeUserState.first_name = getCurrentUser.value.first_name
	changeUserState.last_name = getCurrentUser.value.last_name
	changeUserState.email = getCurrentUser.value.email
})
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col>
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">PROFILE</v-card-title>
					<form @submit.prevent="formProfileSubmit">
						<v-text-field hint="Minimum 3 character" label="First name" variant="solo" clearable
													v-model="changeUserState.first_name"/>
						<v-text-field hint="Minimum 3 character" label="Last name" variant="solo" clearable
													v-model="changeUserState.last_name"/>
						<v-text-field hint="Should be an email" label="Email" variant="solo" clearable
													v-model="changeUserState.email"/>
						<v-btn
									class="mt-10"
									color="#DD4950"
									variant="tonal"
									type="submit"
									:disabled="disBtn"
						>SAVE
						</v-btn>
					</form>
				</v-card>


				<!--				-->
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">CHANGE PASSWORD</v-card-title>
					<form @submit.prevent="formPasswordSubmit">
						<v-text-field hint="Minimum 6 character" type="password" label="Password" variant="solo" clearable
													v-model="changePasswordState.password"/>
						<v-text-field hint="Minimum 6 character" type="password" label="Confirm password" variant="solo" clearable
													v-model="changePasswordState.confirm_password"/>
						<v-btn
									class="mt-10"
									color="#DD4950"
									variant="tonal"
									type="submit"
									:disabled="disBtn"
						>SAVE
						</v-btn>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
