<script setup="" lang="ts">
// core
import { ref, reactive, computed } from 'vue'
// route
import {useRouter} from 'vue-router'
const router = useRouter()

// types
import type {RegUserType} from '@/types'
// vuelidate
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, sameAs } from '@vuelidate/validators'

// toast
import { Error, Success } from '@/notification/notifications'

// user store
import { useUserStore } from '@/stores/user';
const { SendRegister, getRegIsOK } = useUserStore()

// form
const submitLoading = ref<boolean>(false)
const submitLoadingEnd: Function = (): void => {
	setTimeout(() => {
		submitLoading.value = false
	}, 1000)
}
const RegState = reactive({
	firstName: '',
	lastName: '',
	email: '',
	password: '',
	confirmPassword: ''
})
const RegRules = computed(() => {
	return {
		firstName: { required, minLength: minLength(3) },
		lastName: { required, minLength: minLength(3) },
		email: { required, email },
		password: { required, minLength: minLength(5) },
		confirmPassword: { required, sameAs: sameAs(RegState.password) }
	}
})
const submitBtn = computed(() => RegState.firstName === '' || RegState.email === '' ||
			RegState.password === '' || RegState.confirmPassword === '')
const v$ = useVuelidate(RegRules, RegState)

const submitRegistration = async () => {
	const valid = await v$.value.$validate();
	submitLoading.value = true
	if (!valid) {
		Error('Incorrect data', 'error')
		submitLoadingEnd()
		return;
	}
	const user: RegUserType = {
		first_name: RegState.firstName.trim().toLowerCase(),
		last_name: RegState.lastName.trim().toLowerCase(),
		email: RegState.email.trim().toLowerCase(),
		password: RegState.password.trim(),
	}

	// send to backend
	const res = await SendRegister(user);
	// notify
	Success(res,'success' ,'fas fa-check' )
	await router.push({name: 'Login'})
	// clean form
	RegState.firstName = '';
	RegState.lastName = ''
	RegState.email = ''
	RegState.password = ''
	RegState.confirmPassword = ''
	submitLoadingEnd()
}

</script>


<template>
	<v-app theme="myCustomTheme">
		<v-container>
			<v-row>
				<v-col class="d-flex justify-center align-center">
					<v-card width="600" flat class="px-10 py-10" elevation="2">
						<v-card-title class="mb-5">Registration</v-card-title>
						<form @submit.prevent="submitRegistration">
							<v-text-field label="First name" variant="solo" clearable v-model="RegState.firstName"/>
							<v-text-field label="Last name" variant="solo" clearable v-model="RegState.lastName"/>
							<v-text-field label="Email" variant="solo" clearable v-model="RegState.email"/>
							<v-text-field type="password" label="Password" variant="solo" clearable v-model="RegState.password"/>
							<v-text-field type="password" label="Confirm" variant="solo" clearable v-model="RegState.confirmPassword"/>
							<v-btn color="#dd8662" :loading="submitLoading" :disabled="submitBtn" type="submit">Submit</v-btn>
						</form>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</v-app>
</template>


<style lang="scss" scoped>

</style>
