<script setup lang="ts">
// core
import { computed, onMounted, ref } from "vue";

// pinia
import { storeToRefs } from 'pinia'
// router
import { RouterLink, RouterView, useRouter } from 'vue-router'

const router = useRouter()

// stores
// theme
import { useThemeStore } from '@/stores/theme'

const themeStore = useThemeStore()
const { changeColorTheme } = storeToRefs(themeStore)
// user
import { useUserStore } from '@/stores/user';

const userStore = useUserStore();
const { unauthorized } = storeToRefs(userStore)


onMounted(async () => {
	await userStore.SendGetUser()
	if (unauthorized.value) {
		await router.push({ name: 'Login' })
	}
})

// drawer
const hideDrawer = ref<boolean>(false)

// mounted
onMounted(() => {
	themeStore.getColorThemeLocalStore()
})
// components
import Menu from '@/components/Menu.vue'
import Nav from '@/components/Nav.vue'
import { tr } from "vuetify/locale";

</script>

<template>
	<v-app :theme="changeColorTheme">
		<v-app-bar>
			<v-app-bar-nav-icon icon="fas fa-bars" @click="hideDrawer = !hideDrawer"/>
			<v-app-bar-title>ADMIN</v-app-bar-title>
			<Nav/>
		</v-app-bar>
		<v-navigation-drawer
					:temporary="hideDrawer"
					width="300"
					elevation="10"
					:permanent="!hideDrawer"
		>
			<Menu/>
		</v-navigation-drawer>
		<v-main>
			<RouterView/>
		</v-main>
	</v-app>
</template>

<style lang="scss">


</style>
