<script setup="">

defineProps({
	urlComponent: {
		type: String,
		required: true
	}
})

</script>


<template>
	<v-card>
		<v-list class="d-flex justify-start align-center">
			<v-list-item
						lines="one"
						density="compact"
						:to="{name: urlComponent}"
			>
				<v-btn color="#DD4950" variant="tonal"><v-icon start icon="fas fa-plus"/>ADD</v-btn>
			</v-list-item>
		</v-list>
	</v-card>
</template>


<style lang="scss" scoped>

</style>
