<script setup="" lang="ts">
import { useRouter } from 'vue-router'
import { ref } from "vue";

const router = useRouter()
const menu = ref<Array<{ id: number, path: string, namePath: string, nameRoute: string, icon: string }>>([
	{
		id: 1,
		path: '/',
		namePath: 'Dashboard',
		nameRoute: 'Dashboard',
		icon: 'fas fa-chart-line'
	},
	{
		id: 2,
		path: '/users',
		namePath: 'Users',
		nameRoute: 'Users',
		icon: 'fas fa-users'
	},
	{
		id: 3,
		path: '/roles',
		namePath: 'Roles',
		nameRoute: 'Roles',
		icon: 'fas fa-gear'
	},
	{
		id: 4,
		path: '/products',
		namePath: 'Products',
		nameRoute: 'Products',
		icon: 'fas fa-list'
	},
	{
		id: 5,
		path: '/orders',
		namePath: 'Orders',
		nameRoute: 'Orders',
		icon: 'fas fa-list'
	},
	{
		id: 6,
		path: '/profile',
		namePath: 'Profile',
		nameRoute: 'Profile',
		icon: 'fas fa-address-card'
	},
])
</script>


<template>
	<v-list>
		<v-list-item
					class="my-2"
					v-for="m in menu"
					:key="m.id"
					:prepend-icon="m.icon"
					active-color="#DD4950"
					exact
					:to="{name: m.namePath}">
			{{ m.nameRoute }}
		</v-list-item>
	</v-list>
</template>


<style lang="scss" scoped>

</style>
