<script setup="">
// core
import { computed, watch, ref } from "vue"

// router
import { useRouter } from 'vue-router'

const router = useRouter()

// store
import { useThemeStore } from '@/stores/theme'

const { setColorThemeLocalStore, setChangeColorTheme } = useThemeStore()
import { useUserStore } from '@/stores/user'
import { storeToRefs } from "pinia"

const userStore = useUserStore()
const { user } = storeToRefs( userStore )

// theme
const dark = ref( false )
const changeTheme = () => {
	dark.value = !dark.value
	setColorThemeLocalStore( 'myCustomTheme' )
}
const themeIcon = ref( 'fas fa-sun' )
const iconsToggle = computed( () => dark.value ? themeIcon.value = 'fas fa-moon' : themeIcon.value = 'fa-regular fa-sun' )
const theme = computed( () => dark.value ? 'myCustomTheme' : 'light' )

watch( theme, async () => {
	await setChangeColorTheme( theme.value )
} )

// logout
const logout = async () => {
	await router.push( { name: 'Login' } )
	await userStore.Logout()
}
</script>


<template>
	<v-list>
		<v-list-item variant="flat" style="color: #f35662" to="/profile">{{ user.first_name }} {{ user.last_name }}
			{{ user.email }} {{ user.id }} roleID:{{ user.role_id }}
		</v-list-item>
	</v-list>
	<v-btn :icon="iconsToggle" @click="changeTheme"/>
	<v-btn @click="logout">LOGOUT</v-btn>
</template>


<style lang="scss" scoped>

</style>
