<script setup="" lang="ts">
//core
import { computed, reactive, ref } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter();
// vuelidate
import { minValue, minLength, maxLength, required } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

// store
import { useProductStore } from '@/stores/products';

const productStore = useProductStore();
const {getProductMsgDen} = storeToRefs(productStore)
// types
import type { ProductsType } from "@/types";
import { storeToRefs } from "pinia";
import { Error } from "@/notification/notifications";


const productState = reactive<ProductsType>({
	id: 0,
	title: '',
	description: '',
	price: '',
	image: ''
})
const productRule = computed(() => {
	return {
		title: { required, minLength: minLength(3), maxLength: maxLength(20) },
		description: { required, minLength: minLength(5), maxLength: maxLength(50) },
		price: { required, minValue: minValue(1) },
	}
})

const v$ = useVuelidate(productRule, productState)
const clearKey = ref<number>(0)
const file = ref<File>()
const formData = ref<FormData>()
const submitForm = async () => {
	const valid = await v$.value.$validate();
	if (!valid || !containsOnlyNumbers(String(productState.price))) {
		return
	}
	await productStore.SendCreateProduct(formData.value, productState)
	if (getProductMsgDen.value['permissions']  === 'Permissions denied') {
		Error(getProductMsgDen.value['permissions'], 'error');
		return
	}
	await router.push({ name: 'Products' })
	await clearForm()
};

const disBtn = computed(() =>
			!productState.title || !productState.description ||
			!productState.price || !file.value )


const fileUpload = async (e: Event): Promise<void> => {
	const target = e.target as HTMLInputElement;
	if (target && target.files) {
		file.value = target.files[0]
		formData.value = new FormData()
		formData.value.append('image', file.value, file.value.name)
	}
}

// check PRICE for number
const containsOnlyNumbers = (str: string): boolean => {
	return /^\d+$/.test(str);
}
// clear form
const clearForm = async () => {
	clearKey.value++
	productState.title = 	''
	productState.description = ''
	productState.price = ''
}
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col class="d-flex justify-center align-center">
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">ADD PRODUCT</v-card-title>
					<form @submit.prevent="submitForm">
						<v-file-input
									prepend-icon="fas fa-image"
									label="Image"
									variant="filled"
									clearable
									show-size
									accept="image/*"
									:key="clearKey"
									@change="fileUpload"/>
						<v-text-field hint="Min 3 max 20 character" label="Title" variant="solo" clearable
													v-model="productState.title"/>
						<v-text-field hint="Min 5 max 50 character" label="Description" variant="solo" clearable
													v-model="productState.description"/>
						<v-text-field hint="Only numbers" label="Price" variant="solo" clearable v-model="productState.price"/>

						<v-btn
									class="mt-10"
									color="#DD4950"
									variant="tonal"
									type="submit"
									:disabled="disBtn"
						>ADD
						</v-btn>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
