<script setup="" lang="ts">
//core
import { computed, reactive, ref, onMounted } from 'vue'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter();
const route = useRoute();
// vuelidate
import { minValue, minLength, maxLength, required } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

// store
import { useProductStore } from '@/stores/products';

const productStore = useProductStore();
const { getProduct, getProductMsgDen } = storeToRefs(productStore)
// types
import type { ProductsType } from "@/types";
import { storeToRefs } from "pinia";
import { Error } from "@/notification/notifications";


const productUpdateState = reactive<ProductsType>({
	id: 0,
	title: '',
	description: '',
	price: '',
	image: ''
})
const productUpdateRule = computed(() => {
	return {
		title: { required, minLength: minLength(3), maxLength: maxLength(20) },
		description: { required, minLength: minLength(5), maxLength: maxLength(50) },
		price: { required, minValue: minValue(1) },
	}
})

const v$ = useVuelidate(productUpdateRule, productUpdateState)
const clearKey = ref<number>(0)
const file = ref<File>()
const formData = ref<FormData>()

const submitUpdateForm = async () => {
	const valid = await v$.value.$validate();
	if (!valid || !containsOnlyNumbers(String(productUpdateState.price))) {
		return
	}
	await productStore.SendUpdateProduct(formData.value, productUpdateState.id, productUpdateState)
	if (getProductMsgDen.value['permissions']  === 'Permissions denied') {
		Error(getProductMsgDen.value['permissions'], 'error');
		return
	}
	await router.push({ name: 'Products' })
	await clearForm()
};

const disBtn = computed(() =>
			!productUpdateState.title || !productUpdateState.description ||
			!productUpdateState.price || !file.value)


const fileUpload = async ({target}: Event): Promise<void> => {
	const t = target as HTMLInputElement;
	if (t && t.files) {
		file.value = t.files[0]
		formData.value = new FormData()
		formData.value.append('image', file.value, file.value.name)
	}
}

// check PRICE for number
const containsOnlyNumbers = (str: string): boolean => {
	return /^\d+$/.test(str);
}
// clear form
const clearForm = async () => {
	clearKey.value++
	productUpdateState.title = ''
	productUpdateState.description = ''
	productUpdateState.price = ''
}


// mount
onMounted(async () => {
	// get
	await productStore.SendGetProductByID(String(route.params.id))
	// then
	productUpdateState.id = getProduct.value.id
	productUpdateState.title = getProduct.value.title
	productUpdateState.description = getProduct.value.description
	productUpdateState.price = getProduct.value.price
})
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col class="d-flex justify-center align-center">
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">UPDATE PRODUCT</v-card-title>
					<form @submit.prevent="submitUpdateForm">
						<v-file-input
									prepend-icon="fas fa-image"
									label="Image"
									variant="filled"
									clearable
									show-size
									accept="image/*"
									:key="clearKey"
									@change="fileUpload"/>
						<v-text-field hint="Min 3 max 20 character" label="Title" variant="solo" clearable
													v-model="productUpdateState.title"/>
						<v-text-field hint="Min 5 max 50 character" label="Description" variant="solo" clearable
													v-model="productUpdateState.description"/>
						<v-text-field hint="Only numbers" label="Price" variant="solo" clearable
													v-model="productUpdateState.price"/>

						<v-btn
									class="mt-10"
									color="#DD4950"
									variant="tonal"
									type="submit"
									:disabled="disBtn"
						>UPDATE
						</v-btn>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
