<script setup="" lang="ts">
// core
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router';

const router = useRouter()

// store
import { storeToRefs } from "pinia";
import { useProductStore } from '@/stores/products'

const productStore = useProductStore()
const { getProducts, getMetaProducts, getProductMsgDen} = storeToRefs(productStore)

// notification
import { Error, Success } from '@/notification/notifications'
// types
import type { Meta, ProductsType } from "@/types";


const page = ref<number>(1)
const openDialog = ref<boolean>(false)

// product state
const metaProducts = ref<Meta>({} as Meta)
const product = ref<number>()

// product methods
const updateProduct = async (prodID: number): Promise<void> => {
	await router.push({ name: 'Product', params: { id: prodID } })
}
const deleteProduct = async (prodID: number): Promise<void> => {
	openDialog.value = true
	product.value = prodID
}
const paginationSteps = async (val: number): Promise<void> => {
	await productStore.SendGetProducts(val);
}
const confirmToDeleteProductByID = async (val: boolean): Promise<void> => {
	console.log(val);
	openDialog.value = false
	if (!val) {
		return
	}
	const deletedID = await productStore.SendDeleteProductByID(Number(product.value));
	if (getProductMsgDen.value['permissions']  === 'Permissions denied') {
		Error(getProductMsgDen.value['permissions'], 'error');
		return
	}
	Success(`product ${ deletedID } wa deleted`, 'success', '')
};


// hooks
onMounted(async () => {
	await productStore.SendGetProducts(page.value)
	metaProducts.value = await getMetaProducts.value
})

// components
import Controls from '@/components/Controls.vue'

</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col>
				<Controls
							url-component="CreateProduct"
				/>
			</v-col>
		</v-row>
	</v-container>
	<v-container fluid>
		<v-row>
			<v-col>
				<v-table>
					<thead>
					<tr>
						<th id="1">#</th>
						<th id="2">Image</th>
						<th id="3">Title</th>
						<th id="4">Description</th>
						<th id="5">Price</th>
						<th id="6">Action</th>
					</tr>
					</thead>
					<tbody>
					<tr
								v-for="p in getProducts"
								:key="p.id"
					>

						<td>{{ p.id }}</td>
						<td>
							<v-img :src="p.image" cover width="150"/>
						</td>
						<td>{{ p.title }}</td>
						<td>{{ p.description }}</td>
						<td>{{ p.price }}</td>
						<td>
							<v-btn variant="tonal" color="#dd8662" @click="updateProduct(p.id)">Edit</v-btn>
							<v-btn variant="tonal" color="#c84a5a" @click="deleteProduct(p.id)">Delete</v-btn>
						</td>
					</tr>
					</tbody>
				</v-table>
			</v-col>
		</v-row>
	</v-container>

	<v-container>
		<v-row justify="center">
			<v-col cols="8">
				<v-container class="max-width">
					<v-dialog
								v-model="openDialog"
								persistent
								width="500"
					>
						<v-card>
							<v-card-title class="text-h5">
								Delete product
							</v-card-title>
							<v-card-text>Are you sure?</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn variant="text" @click="confirmToDeleteProductByID(false)">No</v-btn>
								<v-btn variant="text" @click="confirmToDeleteProductByID(true)">Yes</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<v-pagination
								v-model="metaProducts.page"
								class="my-4"
								:length="metaProducts.last_page"
								total-visible="5"
								variant="plain"
								@click="paginationSteps(metaProducts.page)"
					></v-pagination>
				</v-container>
			</v-col>
		</v-row>
	</v-container>

</template>


<style lang="scss" scoped>

</style>
