<script setup="" lang="ts">
//core
import { onMounted, ref } from 'vue';

// stores
import { useOrdersStore } from '@/stores/orders'
import { storeToRefs } from "pinia";

const ordersStore = useOrdersStore();
const { getOrders, getOrdersMeta } = storeToRefs(ordersStore)

// types
import type { OrdersType, OrderItemsType } from '@/types/orders'
import type { Meta } from "@/types";

// notify
import { Success } from "@/notification/notifications";
import SubTable from "@/components/orders/SubTable.vue";

// state
const page = ref<number>(1)
const orders = ref<Array<OrdersType>>()
const openDialog = ref<boolean>(false)
const metaOrders = ref<Meta>({} as Meta)


const confirmToDeleteOrderByID = async (val: boolean): Promise<void> => {
	console.log(val);
	openDialog.value = false
	if (!val) {
		return
	}
	// const deletedID = await ordersStore.SendDeleteProductByID(Number(product.value));
	// Success(`product ${ deletedID } wa deleted`, 'success', '')
};
const paginationSteps = async (val: number): Promise<void> => {
	await ordersStore.SendGetOrders(String(val));
}
onMounted(async () => {
	await ordersStore.SendGetOrders(String(page.value));
	orders.value = await getOrders.value
	metaOrders.value = await getOrdersMeta.value
})

const viewOrder = async ()=> {

}
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col>
				<v-table>
					<thead>
					<tr>
						<th id="1">#</th>
						<th id="2">Name</th>
						<th id="3">Email</th>
						<th id="4">Total</th>
						<th id="5">Action</th>
					</tr>
					</thead>
					<tbody>
					<template
								v-for="o in orders"
								:key="o.id">
						<tr>
							<td>{{ o.id }}</td>
							<td>{{ o.name }}</td>
							<td>{{ o.email }}</td>
							<td>{{ o.total}}</td>
							<td>

								<v-btn variant="tonal" color="#dd8662" @click="viewOrder(o.id)">View</v-btn>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<v-expansion-panels variant="accordion">
									<v-expansion-panel>
										<v-expansion-panel-title></v-expansion-panel-title>
										<v-expansion-panel-text>
											<SubTable
												:order_items="o.order_items"
											></SubTable>
										</v-expansion-panel-text>
									</v-expansion-panel>
								</v-expansion-panels>
							</td>
						</tr>
					</template>
					</tbody>
				</v-table>
			</v-col>
		</v-row>
	</v-container>
	<v-container>
		<v-row justify="center">
			<v-col cols="8">
				<v-container class="max-width">
					<v-dialog
								v-model="openDialog"
								persistent
								width="500"
					>
						<v-card>
							<v-card-title class="text-h5">
								Delete product
							</v-card-title>
							<v-card-text>Are you sure?</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn variant="text" @click="confirmToDeleteOrderByID(false)">No</v-btn>
								<v-btn variant="text" @click="confirmToDeleteOrderByID(true)">Yes</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<v-pagination
								v-model="metaOrders.page"
								class="my-4"
								:length="metaOrders.last_page"
								total-visible="5"
								variant="plain"
								@click="paginationSteps(metaOrders.page)"
					></v-pagination>
				</v-container>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
