<script setup="" lang="ts">
import type { OrderItemsType } from '@/types/orders'
import type { PropType } from 'vue'
import { onMounted } from "vue";


const prop = defineProps({
	order_items: {
		required: true,
		type: Object as PropType<OrderItemsType>
	}
})

</script>


<template>
	<v-table>
		<thead>
		<tr>
			<th id="1">#</th>
			<th id="2">Product title</th>
			<th id="3">Quantity</th>
			<th id="4">Price</th>
		</tr>
		</thead>
		<tbody>
		<tr v-for="item in order_items" :key="item.id">
			<td>{{ item.id }}</td>
			<td>{{ item.product_title }}</td>
			<td>{{ item.quantity }}</td>
			<td>{{ item.price }}</td>
		</tr>
		</tbody>
	</v-table>
</template>


<style lang="scss" scoped>

</style>
