<script setup="" lang="ts">
// core
import { computed, watch, onMounted, reactive, ref } from 'vue'
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength } from '@vuelidate/validators'
import { useRouter } from 'vue-router';


// router
const router = useRouter()
// stores
import { useUserStore } from '@/stores/user';

const userStore = useUserStore()
const {getuserMsg} = storeToRefs(userStore)

import { useRolesStore } from '@/stores/roles';

const rolesStore = useRolesStore()
const { roles, getRoles } = storeToRefs(rolesStore)

onMounted(async () => {
	await rolesStore.SendGetRoles()
})
// types
import type { UserCreateType } from '@/types'
import { storeToRefs } from "pinia";

// notification
import { Error, Success } from '@/notification/notifications'

// role
const selectRole = ref()

// user
const createUserState = reactive<UserCreateType>({
	first_name: '',
	last_name: '',
	email: '',
	role_id: '',
})
const rulesCreateUserState = computed(() => {
	return {
		first_name: { required, minLength: minLength(3) },
		last_name: { required, minLength: minLength(3) },
		email: { required, email },
	}
})
// check on validate form
const v$ = useVuelidate(rulesCreateUserState, createUserState)
const disBtn = computed(() => createUserState.first_name === '' || createUserState.last_name === '' ||
			createUserState.email === '' || !selectRole.value)
const formSubmit = async (): Promise<void> => {
	const valid = await v$.value.$validate();
	if (!valid) {
		await Error('Incorrect data', 'error')
		return
	}
	const user: UserCreateType = {
		first_name: createUserState.first_name.trim().toLowerCase(),
		last_name: createUserState.last_name.trim().toLowerCase(),
		email: createUserState.email.trim().toLowerCase(),
		role_id: selectRole.value.id,
	}

	const msg = await userStore.SendUserCreate(user)
	if (getuserMsg.value['permissions']  === 'Permissions denied') {
		Error(getuserMsg.value['permissions'], 'error');
		return
	}

	await Success(msg!, 'success', 'fas fa-user-plus')
	await clearForm()
	await router.push({'name': 'Users'})
};



function clearForm() {
	createUserState.first_name = ''
	createUserState.last_name = ''
	createUserState.email = ''
	createUserState.role_id = ''
}
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col class="d-flex justify-center align-center">
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">ADD USER</v-card-title>
					<form @submit.prevent="formSubmit">
						<v-text-field hint="Minimum 3 character" label="First name" variant="solo" clearable
													v-model="createUserState.first_name"/>
						<v-text-field hint="Minimum 3 character" label="Last name" variant="solo" clearable
													v-model="createUserState.last_name"/>
						<v-text-field hint="Should be an email" label="Email" variant="solo" clearable
													v-model="createUserState.email"/>
						<v-select
									label="Roles"
									variant="solo"
									:items="getRoles"
									item-title="role_name"
									clearable
									return-object
									v-model="selectRole">

						</v-select>
						<v-btn
									class="mt-10"
									color="#DD4950"
									variant="tonal"
									type="submit"
									:disabled="disBtn"
						>ADD
						</v-btn>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
