<script setup="" lang="ts">
// core
import { computed, onMounted, reactive, ref } from "vue";
import { useRouter, useRoute } from 'vue-router';

// vuelidate
import { email, minLength, required } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

const router = useRouter()
const route = useRoute();
// notify
import {Error} from '@/notification/notifications'
// store
import { storeToRefs } from "pinia";
import { useUserStore } from '@/stores/user';
import { useRolesStore } from '@/stores/roles';

const userStore = useUserStore()
const rolesStore = useRolesStore()
const {getuserMsg} = storeToRefs(userStore)
const { getRoles } = storeToRefs(rolesStore)

//types
import type { UsersType } from "@/types";

const userID = ref<string>('')
userID.value = route.params.id.toString()
const userForUpdateState = reactive<UsersType>({
	id: 0,
	first_name: '',
	last_name: '',
	email: '',
	role_id: ''
})
const userForUpdateRules = computed(() => {
	return {
		first_name: { required, minLength: minLength(3) },
		last_name: { required, minLength: minLength(3) },
		email: { required, email },
	}
})
// check on validate form
const v$ = useVuelidate(userForUpdateRules, userForUpdateState)


onMounted(async () => {
	const uRes = await userStore.SendGetUserByID(userID.value);
	await rolesStore.SendGetRoles()
	userForUpdateState.id = uRes.id
	userForUpdateState.first_name = uRes.first_name
	userForUpdateState.last_name = uRes.last_name
	userForUpdateState.email = uRes.email


	console.log(uRes);
	console.log(userForUpdateState);
})
// form
const selectRole = ref()
const disBtn = computed(() => userForUpdateState.first_name === '' || userForUpdateState.last_name === '' ||
			userForUpdateState.email === '' || !selectRole.value)
const submitUpdateUser = async () => {
	const valid = await v$.value.$validate()
	if (!valid) {
		await Error('Incorrect data', 'error')
		return
	}
	userForUpdateState.role_id = selectRole.value.id
	await userStore.SendUpdateUpdateUserByID(userForUpdateState, userID.value )
	if (getuserMsg.value !== '') {
		console.log(getuserMsg.value);
		Error(getuserMsg.value['permissions'], 'error');
		return
	}
	await router.push({name: 'Users'})
}
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col class="d-flex justify-center align-center">
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">EDIT USER</v-card-title>
					<form @submit.prevent="submitUpdateUser">
						<v-text-field hint="Minimum 3 character" label="First name" variant="solo" clearable
													v-model="userForUpdateState.first_name"/>
						<v-text-field hint="Minimum 3 character" label="Last name" variant="solo" clearable
													v-model="userForUpdateState.last_name"/>
						<v-text-field hint="Should be an email" label="Email" variant="solo" clearable
													v-model="userForUpdateState.email"/>
						<v-select
									label="Roles"
									variant="solo"
									:items="getRoles"
									item-title="role_name"
									clearable
									return-object
									v-model="selectRole"
						>
						</v-select>
						<v-btn
									class="mt-10"
									color="#DD4950"
									variant="tonal"
									type="submit"
									:disabled="disBtn"
						>EDIT
						</v-btn>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
