<script setup="" lang="ts">
// core
import { onBeforeMount, onMounted, ref } from 'vue';
// pinia
import { storeToRefs } from 'pinia'
// store
import { useUserStore } from '@/stores/user';

const userStore = useUserStore()
const { getUsers, getuserMsg } = storeToRefs(userStore)

// types
import type {  Meta } from '@/types'
// notification
import { Success, Error } from '@/notification/notifications'

const metaUsers = ref<Meta>({} as Meta)

const paginationSteps = async (val: number): Promise<void> => {
	const { meta } = await userStore.SendGetUsers(val);
	// urs.value = await us
	metaUsers.value = await meta
}
onMounted(async () => {
	await paginationSteps(page.value)
})
// pagination
const page = ref<number>(1)


// delete user
const openDialog = ref<boolean>(false)
const userID = ref<number>(0);
const deleteUserByID = async (valID: number): Promise<void> => {
	openDialog.value = true
	userID.value = valID
}
const updateUserByID = async (valID: number):Promise<void>=> {
	await router.push({'name': 'EditUser', params: {'id': valID}})
}

const confirmToDeleteUserByID = async (val: boolean): Promise<void> => {
	openDialog.value = false
	if (!val) {
		return
	}
	const deletedID = await userStore.SendDeleteUserByID(userID.value);
	if (getuserMsg.value['permissions']  === 'Permissions denied') {
		Error(getuserMsg.value['permissions'], 'error');
		return
	}
	Success(`user ${ deletedID } wa deleted`, 'success', '');
};

// components
import Controls from '../Controls.vue'
import router from "@/router";
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col>
				<Controls
							url-component="UsersCreate"
				/>
			</v-col>
		</v-row>
	</v-container>
	<v-container fluid>
		<v-row>
			<v-col>
				<v-table>
					<thead>
					<tr>
						<th id="1">#</th>
						<th id="2">Name</th>
						<th id="3">Email</th>
						<th id="4">Role</th>
						<th id="5">Action</th>
					</tr>
					</thead>
					<tbody>
					<tr
								v-for="u in getUsers"
								:key="u.id"

					>
						<td>{{ u.id }}</td>
						<td>{{ u.first_name }} {{ u.last_name }}</td>
						<td>{{ u.email }}</td>
						<td>{{ u.role.role_name }}</td>
						<td>
							<v-btn variant="tonal" color="#dd8662" @click="updateUserByID(u.id)">Edit</v-btn>
							<v-btn variant="tonal" color="#c84a5a" @click="deleteUserByID(u.id)">Delete</v-btn>
						</td>
					</tr>
					</tbody>
				</v-table>
			</v-col>
		</v-row>
	</v-container>

	<v-container>
		<v-row justify="center">
			<v-col cols="8">
				<v-container class="max-width">
					<v-dialog
								v-model="openDialog"
								persistent
								width="500"
					>
						<v-card>
							<v-card-title class="text-h5">
								Delete user
							</v-card-title>
							<v-card-text>Are you sure?</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn variant="text" @click="confirmToDeleteUserByID(false)">No</v-btn>
								<v-btn variant="text" @click="confirmToDeleteUserByID(true)">Yes</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<v-pagination
								v-model="metaUsers.page"
								class="my-4"
								:length="metaUsers.last_page"
								total-visible="5"
								variant="plain"
								@click="paginationSteps(metaUsers.page)"
					></v-pagination>
				</v-container>
			</v-col>
		</v-row>
	</v-container>

</template>


<style lang="scss" scoped>

</style>
