<script setup="" lang="ts">
// core
import { computed, onMounted, ref, watch } from 'vue';
import { useRouter } from 'vue-router';
const router = useRouter();

// stores
import { usePermissionsStore } from '@/stores/permissions'
import { useRolesStore } from '@/stores/roles'
import { storeToRefs } from "pinia";


const permsStore = usePermissionsStore()
const roleStore = useRolesStore()
const { getPerms } = storeToRefs(permsStore);
const { getRoleMsg } = storeToRefs(roleStore);

// notify
import { Error, Success } from '@/notification/notifications'
// hook
onMounted(async () => {
	await permsStore.SendGetPermissions()
})
// form
const permission = ref<Array<string>>([])
const roleName = ref<string>('')
const disBtn = computed(()=> roleName.value === '' || permission.value.length <= 0)
const createPermission = async () => {
	const role = {
		role_name: roleName.value,
		permissions: permission.value,
	};
	console.log(role);
	await roleStore.SendCreateRole(role)
	if (getRoleMsg.value['permissions']  === 'Permissions denied') {
		Error(getRoleMsg.value['permissions'], 'error');
		return
	}
	Success('Role was created', 'success', 'fas fa-check')
	await router.push({name:'Roles'})
}



</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col class="d-flex justify-center align-center">
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">ADD ROLE</v-card-title>
					<form @submit.prevent="createPermission">
						<v-container>
							<v-row>
								<v-col cols="3">
									<v-card variant="flat">
										<h2 class="mb-16">Role name</h2>
										<h2 class="mb-16">Permission</h2>
										<v-spacer/>
										<v-btn
													class="mt-10"
													color="#dd8662"
													variant="tonal"
													type="submit"
													:disabled="disBtn"
										>Save
										</v-btn>
									</v-card>
								</v-col>
								<v-col cols="9">
									<v-card variant="flat">
										<v-text-field variant="filled" v-model="roleName"/>
										<v-table>
											<tr>
												<td class="d-flex flex-wrap">
													<v-checkbox
																style="width: 50%"
																class="d-flex flex-wrap justify-space-between"
																multiple
																v-for="a in getPerms"
																:key="a.id"
																v-model="permission"
																:value="a.id.toString()"
																:label="a.name"
													></v-checkbox>
												</td>
											</tr>
										</v-table>
									</v-card>
								</v-col>
							</v-row>
						</v-container>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
