<script setup="" lang="ts">

import { computed, onMounted, ref, watch } from "vue"
import { useRoute, useRouter } from 'vue-router'

const route = useRoute()
const router = useRouter()
// stores
import { storeToRefs } from "pinia"
import { useRolesStore } from '@/stores/roles'
import { usePermissionsStore } from '@/stores/permissions'

const roleStore = useRolesStore()
const permsStore = usePermissionsStore()
const { getRole, getRoleMsg } = storeToRefs(roleStore);
const { getPerms } = storeToRefs(permsStore);

// types
import type { RoleType, PermissionsType, RoleForUpdate } from '@/types';

// notify
import { Error, Info } from '@/notification/notifications'

const permissions = ref<Array<PermissionsType>>([])
const role = ref<RoleType>({
	id: 0,
	role_name: '',
	permission: [] as Array<PermissionsType>
})
const disBtn = computed(() => role.value.role_name === '' || role.value.permission.length <= 0)

onMounted(async () => {
	await permsStore.SendGetPermissions()
	await roleStore.SendGetRoleByID(route.params.id.toString())

	role.value = await getRole.value
	permissions.value = await getPerms.value
})
const updateRole = async () => {
	const roleForUpdate: RoleForUpdate = {
		role_name: role.value.role_name,
		permissions: role.value.permission.map(p => p.id.toString())
	}
	await roleStore.SendUpdateRole(role.value.id, roleForUpdate)
	if (getRoleMsg.value['permissions']  === 'Permissions denied') {
		Error(getRoleMsg.value['permissions'], 'error');
		return
	}
	await Info(`Role ${ role.value.role_name } was updated `, 'info', 'fas fa-circle-info')
	await router.push({name: 'Roles'})
}

</script>

<template>
	<v-container fluid>
		<v-row>
			<v-col class="d-flex justify-center align-center">
				<v-card width="100%" flat class="px-10 py-10" elevation="2">
					<v-card-title class="mb-5">Edit role</v-card-title>
					<form @submit.prevent="updateRole">
						<v-container>
							<v-row>
								<v-col cols="3">
									<v-card variant="flat">
										<h2 class="mb-16">Role name</h2>
										<h2 class="mb-16">Permission</h2>
										<v-spacer/>
										<v-btn
													class="mt-10"
													color="#dd8662"
													variant="tonal"
													type="submit"
													:disabled="disBtn"
										>Save
										</v-btn>
									</v-card>
								</v-col>
								<v-col cols="9">
									<v-card variant="flat">
										<v-text-field variant="filled" v-model="role.role_name"/>
										<v-table>
											<tr>
												<td class="d-flex flex-wrap">
													<v-checkbox
																style="width: 50%"
																class="d-flex flex-wrap justify-space-between"
																multiple
																v-model="role.permission"
																v-for="p in permissions"
																:key="p.id"
																:value="p"
																:label="p.name"
													></v-checkbox>
												</td>
											</tr>
										</v-table>
									</v-card>
								</v-col>
							</v-row>
						</v-container>
					</form>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>


<style lang="scss" scoped>

</style>
