<script setup="" lang="ts">
// core
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
// pinia
import { storeToRefs } from 'pinia'
// store
import { useRolesStore } from '@/stores/roles';

const roleStore = useRolesStore()
const { getRoles, getRoleMsg } = storeToRefs(roleStore);
// notification
import { Error, Success, Warning } from '@/notification/notifications'

onMounted(() => {
	roleStore.SendGetRoles()
})

const updateRole = async (roleID: string): Promise<void> => {
	await router.push({ 'name': 'EditRole', params: { 'id': roleID } })
}
const deleteRole = async (roleID: number, rName: string): Promise<void> => {
	const msg = await roleStore.SendDeleteRoleByID(roleID);
	if (getRoleMsg.value['permissions']  === 'Permissions denied') {
		Error(getRoleMsg.value['permissions'], 'error');
		return
	}else	if (msg!.includes('related to another record')){
		Warning(`${rName.toUpperCase()}: ${msg!}`, "warning", "fas fa-circle-exclamation");
		return
	}
	Success(`${rName.toUpperCase()}: ${msg!}`, "success", "fas fa-check")
}


import Controls from '@/components/Controls.vue'
</script>


<template>
	<v-container fluid>
		<v-row>
			<v-col>
				<Controls
							url-component="RolesCreate"
				/>
			</v-col>
		</v-row>
	</v-container>
	<v-container fluid>
		<v-row>
			<v-col>
				<v-table>
					<thead>
					<tr>
						<th id="1">#</th>
						<th id="2">Name</th>
						<th id="5">Action</th>
					</tr>
					</thead>
					<tbody>
					<tr
								v-for="r in getRoles"
								:key="r.id"
					>
						<td>{{ r.id }}</td>
						<td>{{ r.role_name }}</td>
						<td>
							<v-btn variant="tonal" color="#dd8662" @click="updateRole(r.id.toString())">Edit</v-btn>
							<v-btn variant="tonal" color="#c84a5a" @click="deleteRole(r.id, r.role_name)">Delete</v-btn>
						</td>
					</tr>
					</tbody>
				</v-table>
			</v-col>
		</v-row>
	</v-container>


</template>


<style lang="scss" scoped>

</style>
